@model MyApp.Models.Item
@{
	ViewData["Title"] = "Delete";
}

<h3>Are You Sure To want to delte this item?</h3>

<p>@Model.Name</p>
<p>@Model.Name $</p>


<form asp-action="Delete" method="post">
	<input type="hidden" asp-for = "Id"/>
	<input type="submit" clsas="btn btn-danger" value="Delete"/>
</form>